article p {
    color: gold;
    width: 50%;

    
}
section::after{
    content: "";
    clear: both;
    display: table;
}
h1{
    color: gold;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    font-family: cursive;
}
h2{
    color: goldenrod;
}
nav{
    color: #EFD4F7 ;
}
a{
    color: #EFD4F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:large ;
    
   
}
section{
    background-color: black;
    height: 900px;
}