article p {
    color: gold;
}
h1{
    color: gold;
    text-align: center;

}
h2{
    color: goldenrod;
}
nav{
    color: #EFD4F7 ;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
section{
    background-color: black;
   
}